<header class="rideau sackers">
    <div class="row">
        <div class="text-center">
            <div class="middle-title">
                <!-- Show logo in this position in mobiles -->
                <div class="show-for-small-only">
                    <div class="small-12 medium-8 large-8 columns">
                        <div class="row">
                            <div class="small-12 medium-12 large-12 columns">
                                <a href="/">
                                    <img id="rideau-logo" src="/rideau-data/landing/rideau-logo-shown.svg"/>
                                </a>
                                <div class="apc-container text-center">
                                    <a href="/about">about</a>
                                    <a href="/press">press</a>
                                    <a href="/contact">contact</a>
                                </div>
                            </div>
                            <div class="small-4 columns">
                                <div class="header-text-container">
                                    <div class="row">
                                        <div class="small-12 medium-12 large-12 rideau-menu-column columns">
                                            <a class="amodal header-top-text" href="#collectionsModal">collections</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="small-4 columns">
                                <% include _cart-button.ejs %>
                            </div>
                            <div class="small-4 columns">
                                <div class="header-text-container">
                                    <div class="row">
                                        <div class="small-12 medium-12 large-12 rideau-menu-column columns">
                                            <a class="amodal header-top-text" href="#eboutiqueModal">e-boutique</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="hide-for-small-only">
                    <div class="small-6 medium-3 large-3 columns">
                        <div class="header-text-container">
                            <div class="row">
                                <div class="small-12 medium-12 large-12 rideau-menu-column columns">
                                    <a class="amodal header-top-text" href="#collectionsModal">collections</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="small-12 medium-6 large-6 columns">
                        <div class="row">
                            <div class="small-12 medium-12 large-12 columns">
                                <a href="/">
                                    <img id="rideau-logo" src="/rideau-data/landing/rideau-logo-shown.svg"/>
                                </a>
                            </div>
                            <div class="small-12 medium-12 large-12 columns">
                                <div class="apc-container text-center">
                                    <a href="/about">about</a>
                                    <a href="/press">press</a>
                                    <a href="/contact">contact</a>
                                </div>
                            </div>
                            <div class="small-12 medium-12 large-12 columns">
                                <% include _cart-button.ejs %>
                            </div>
                        </div>
                    </div>
                    <div class="small-6 medium-3 large-3 columns">
                        <div class="header-text-container">
                            <div class="row">
                                <div class="small-12 medium-12 small-12 rideau-menu-column columns">
                                    <a class="amodal header-top-text" href="#eboutiqueModal">e-boutique</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Collections modal -->
<div id="collectionsModal" class="animated-rideau-modal" style="visibility: hidden;">
    <div class="auto-adjustable-y">
        <div class="row">
            <div class="small-10 medium-10 large-10 small-centered medium-centered large-centered columns">
                <% Object.keys(extraData).forEach(function(key) { %>
                <a class="<%- extraData[key].class %>" href="/collections/<%- key.substr(key.indexOf("-") + 1) %>">
                    <p><%- extraData[key].name %></p>
                </a>
                <% }); %>
            </div>
        </div>
    </div>
    <!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
    <div class="closeContainer close-collectionsModal">
        <img src="/rideau-data/extras/modal-close.png"/>
    </div>
</div>

<!-- Eboutique modal -->
<div id="eboutiqueModal" class="animated-rideau-modal" style="visibility: hidden;">
    <div class="auto-adjustable-y">
        <div class="row">
            <div class="small-10 medium-10 large-10 small-centered medium-centered large-centered columns">
                <a href="/eboutique#male"><span class="male_button"><p>xy</p></span></a>
                <span class="separator-dash"> | </span>
                <a href="#" class="disabled"><span class="female_button"><p>xx</p></span></a>
            </div>
        </div>
    </div>
    <!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
    <div class="closeContainer close-eboutiqueModal">
        <img src="/rideau-data/extras/modal-close.png"/>
    </div>
</div>

<!-- Cart modal -->
<div id="cartModal" class="animated-rideau-modal" style="visibility: hidden;">
    <div class="auto-adjustable-y">
        <div class="row">
            <div class="small-10 medium-10 large-10 small-centered medium-centered large-centered columns">
                <div class="cart-items">your cart is empty</div>
            </div>
        </div>
        <div class="shop-buttons hidden">
            <div class="row">
                <div class="margin-top-50">
                    <div class="small-12 medium-6 large-6 columns">
                        <a class="back-to-shopping-button tiny button">
                            <p><strong>back to shopping</strong></p>
                        </a>
                    </div>
                    <div class="small-12 medium-6 large-6 columns">
                        <a class="proceed-to-purchase-button tiny button">
                            <p><strong>proceed to purchase</strong></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
    <div class="closeContainer close-cartModal">
        <img src="/rideau-data/extras/modal-close.png"/>
    </div>
    <!-- The hidden review modal opener, triggered by jQuery unless we really want a visible button -->
    <a class="amodal nodisplay" href="#reviewModal">review</a>
</div>

<!-- Review modal -->
<div id="reviewModal" class="animated-rideau-modal modal-with-accordion" style="visibility: hidden;">
    <div class="auto-adjustable-y">
        <div class="row">
            <!-- <h4 class="modal_title"><strong>Checkout</strong></h4> -->
            <ul class="accordion" data-accordion="" role="tablist">
                <li class="billing-information accordion-navigation accordion-item is-active" data-accordion-item>
                    <a class="sackers accordion-title" href="#billing-panel">1.- billing information</a>
                    <div id="billing-panel" class="content active" data="binfo">
                        <div class="row">
                            <div class="small-12 large-6 columns">
                                <label for="first-name" class="margin-bottom-10">first name *
                                    <input class="input_cart" required type="text" name="first-name"
                                           style="margin-bottom: 5px;"/>
                                </label>
                                <label for="last-name" class="margin-bottom-10">last name *
                                    <input class="input_cart" required type="text" name="last-name"
                                           style="margin-bottom: 5px;"/>
                                </label>
                                <label for="email" class="margin-bottom-10">email *
                                    <input class="input_cart" required type="text" name="email"
                                           style="margin-bottom: 5px;"/>
                                </label>
                                <label for="address" class="margin-bottom-10">address *
                                    <input class="input_cart" type="text" name="address" style="margin-bottom: 5px;"/>
                                </label>
                                <label for="telephone" class="margin-bottom-10">telephone *
                                    <input class="input_cart" type="text" name="telephone" style="margin-bottom: 5px;"/>
                                </label>
                            </div>
                            <div class="small-12 large-6 columns">
                                <label for="company" class="margin-bottom-10">company
                                    <input type="text" name="company" style="margin-bottom: 5px;"/>
                                </label>
                                <label for="city" class="margin-bottom-10">city *
                                    <input class="input_cart" type="text" name="city" style="margin-bottom: 5px;"/>
                                </label>
                                <label for="state-province" class="margin-bottom-10">state/province *
                                    <input class="input_cart" type="text" name="state-province"
                                           style="margin-bottom: 5px;"/>
                                </label>
                                <label for="zip-postalcode" class="margin-bottom-10">zip/postalcode *
                                    <input class="input_cart" type="text" name="zip-postalcode"
                                           style="margin-bottom: 5px;"/>
                                </label>
                                <label for="country" class="margin-bottom-10">country *
                                    <input class="input_cart" type="text" name="country" style="margin-bottom: 5px;"/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-6 large-6 small-push-6 large-push-6 columns">
                                <div class="float-right">
                                    <input id="use-for-shipping" type="checkbox" name="use-for-shipping"><label
                                            for="use-for-shipping">use for shipping address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="shipping-information accordion-navigation accordion-item" data-accordion-item>
                    <a class="sackers accordion-title" href="#shipping-panel">2.- shipping information</a>
                    <div id="shipping-panel" class="content" data="sinfo">
                        <div class="row">
                            <div class="small-12 large-6 columns">
                                <label for="first-name" class="margin-bottom-10">first name *
                                    <input class="input_cart" required type="text" name="first-name"
                                           style="margin-bottom: 5px;"/>
                                </label>
                                <label for="last-name" class="margin-bottom-10">last name *
                                    <input class="input_cart" required type="text" name="last-name"
                                           style="margin-bottom: 5px;"/>
                                </label>
                                <label for="email" class="margin-bottom-10">email *
                                    <input class="input_cart" required type="text" name="email"
                                           style="margin-bottom: 5px;"/>
                                </label>
                                <label for="address" class="margin-bottom-10">address *
                                    <input class="input_cart" type="text" name="address" style="margin-bottom: 5px;"/>
                                </label>
                                <label for="telephone" class="margin-bottom-10">telephone *
                                    <input class="input_cart" type="text" name="telephone" style="margin-bottom: 5px;"/>
                                </label>
                            </div>
                            <div class="small-12 large-6 columns">
                                <label for="company" class="margin-bottom-10">company
                                    <input type="text" name="company" style="margin-bottom: 5px;"/>
                                </label>
                                <label for="city class=" margin-bottom-10"">city *
                                <input class="input_cart" type="text" name="city" style="margin-bottom: 5px;"/>
                                </label>
                                <label for="state-province" class="margin-bottom-10">state/province *
                                    <input class="input_cart" type="text" name="state-province"
                                           style="margin-bottom: 5px;"/>
                                </label>
                                <label for="zip-postalcode" class="margin-bottom-10">zip/postalcode *
                                    <input class="input_cart" type="text" name="zip-postalcode"
                                           style="margin-bottom: 5px;"/>
                                </label>
                                <label for="country" class="margin-bottom-10">country *
                                    <input class="input_cart" type="text" name="country" style="margin-bottom: 5px;"/>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-6 large-6 small-push-6 large-push-6 columns">
                                <div class="float-right">
                                    <input id="fedex-standard" type="checkbox" name="fedex-standard"><label
                                            for="fedex-standard">fedex standard shipping 20.00 usd</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="margin-top-50">
                                <div class="small-12 medium-6 large-6 columns">
                                    <a class="back-to-cart-button tiny button">
                                        <p><strong>back to cart</strong></p>
                                    </a>
                                </div>
                                <div class="small-12 medium-6 large-6 columns">
                                    <a id="stripe-pay-button" class="purchase-button tiny button">
                                        <p><strong>purchase</strong></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- <li class="review-and-place-order accordion-navigation accordion-item" data-accordion-item>
                    <a class="sackers accordion-title" href="#panel3a">3.- Review and place order</a>
                    <div id="panel3a" class="content">

                        <div class="review-products">

                        </div>

                        <hr />
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
    <!-- Important: To close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
    <div class="closeContainer close-reviewModal">
        <img src="/rideau-data/extras/modal-close.png"/>
    </div>
</div>

<!-- TODO: Add cart here -->
<div class="header_white">
    <img id="r-top-logo" class="hidden" src="/rideau-data/landing/rideau-logo-hidden.svg"/>
</div>

<blueprints>
    <div class="row item">
        <div class="small-12 medium-8 large-8 columns">
            <div class="row">
                <div class="small-4 large-4 columns">
                    <img class="item-image" src="http://placehold.it/100x100"/>
                </div>
                <div class="small-8 large-8 columns">
                    <div class="row">
                        <div class="small-12 large-12 columns">
                            <div class="item-buy-data">
                                <h5 class="item-name"><strong>ref</strong></h5>
                                <h5 class="item-sku">ref</h5>
                                <p>size: <span class="item-size">size</span></p>
                                <p>color: <span class="item-color">white</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 medium-4 large-4 columns">
            <div class="row">
                <div class="small-6 large-6 columns">
                    <p>Qnty:</p>
                    <table class="up-down-controls" cellSpacing="0" cellPadding="0" width="100%" border="0">
                        <tr>
                            <td align="">
                                <input type="button" value="-" class="tiny button btn-qty right" field="quantity"/>
                            </td>
                            <td align="">
                                <input type="text" name="quantity" class="item-quantity" placeholder="1" value="1"
                                       readonly/>
                            </td>
                            <td align="">
                                <input type="button" value="+" class="tiny button btn-qty left" field="quantity"/>
                            </td>
                        </tr>
                    </table>
                    <a class="remove-from-cart-button">
                        <small>
                            <p class="hidden">remove from cart</p>
                        </small>
                    </a>
                </div>
                <div class="small-6 large-6 columns">
                    <p>Unit price:</p>
                    <p><span class="item-price">price</span> usd</p>
                </div>
            </div>
        </div>
    </div>
</blueprints>

<input type="hidden" name="wholesaler-username" value="<%- auth.username %>"/>
<input type="hidden" name="wholesaler-role" value="<%- auth.role %>"/>

<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
    $(function () {
        window.abc = function regenerateCart() {
            var rideauCart = JSON.parse(localStorage.storedCart),
                    cartItems = $('.cart-items');

            if (Object.keys(rideauCart).length == 0) {
                $('#cartModal .shop-buttons').addClass('hidden');
                cartItems.html("your cart is empty");


                return; //Return if there are no cart items
            } else {
                $('#cartModal .shop-buttons').removeClass('hidden');
            }

            var blueprintItem = $('blueprints .item');

            cartItems.empty(); //Empty cart

            _.each(rideauCart, function (el) {
                var tempItem = blueprintItem.clone();

                tempItem.find('.item-name').html(el.name);
                tempItem.find('.item-image').attr('src', el.image);
                tempItem.find('.item-sku').html(el.sku);
                tempItem.find('.item-size').html(el.size);
                tempItem.find('.item-color').html(el.color);
                tempItem.find('.item-price').html(el.price);
                tempItem.find('.item-quantity').val(el.quantity);

                if (el.quantity == 0) tempItem.find('.remove-from-cart-button p').removeClass('hidden');

                cartItems.append(tempItem);
            });

            //Remove items from cart when presssing the remove button
            $('.remove-from-cart-button').on("click", function () {
                var storedCart = JSON.parse(localStorage.storedCart),
                        item = $(this).closest('.item');
                key = [item.find('.item-sku').html(), item.find('.item-size').html(), item.find('.item-color').html()].join('-');


                delete storedCart[key];
                localStorage.storedCart = JSON.stringify(storedCart);

                window.abc();
            });
            //Increment value buttons Plus and Minus (TODO: Relocate pls)
            $("input.btn-qty").on("click", function (el) {
                var storedCart = JSON.parse(localStorage.storedCart),
                        item = $(this).closest('.item');
                key = [item.find('.item-sku').html(), item.find('.item-size').html(), item.find('.item-color').html()].join('-');

                console.log(storedCart[key]);

                if (this.value == "+") {
                    storedCart[key].quantity++;
                } else {
                    storedCart[key].quantity--;
                    if (storedCart[key].quantity < 0) storedCart[key].quantity = 0;
                }

                localStorage.storedCart = JSON.stringify(storedCart);
                window.abc();

                /* var totalPrice = $(".total-sum").html();
                 var $button = $(this);
                 var item = $(this).attr("item");
                 var oldValue = $("input.quantity[item='"+item+"']").val();
                 var storedCart = JSON.parse(localStorage.getItem('storedCart'));

                 if ($button.val() == "+") {
                 var newVal = parseFloat(oldValue) + 1;
                 var newTotal = parseFloat(totalPrice) + parseFloat(storedCart[item].price);
                 } else {
                 //Don't allow decrementing below zero
                 if (oldValue > 0) {
                 var newVal = parseFloat(oldValue) - 1;
                 var newTotal = parseFloat(totalPrice) - parseFloat(storedCart[item].price);
                 } else {
                 newVal = 0;
                 }
                 }
                 if (newVal < 1 ) $(this).closest(".item").remove();
                 // Update quantity
                 $("input.quantity[item='"+item+"']").val(newVal);
                 updateLocalStorage();
                 // Update price
                 $(".total-sum").html(newTotal);
                 if (newTotal == 0) {
                 $('#empty-carr-modal').foundation('reveal', 'open');
                 $('#carr-modal').foundation('reveal', 'close');
                 }*/
            });
        }

        $('.input_cart').on('keyup', function (el) {
            var $this = $(this);
            if ($this.val().length < 4 && $this.parent().find('.input_cart_alert').length == 0) {
                $this.parent().append('<span class="input_cart_alert" style="color: red; margin: 0px; padding: 0px;">This field is requiered</span>');
            } else if ($this.val().length >= 4 && $this.parent().find('.input_cart_alert').length > 0) {
                $this.parent().find('.input_cart_alert').remove();
            }
        });

        $('a[href="#cartModal"]').on('click', function () {
            window.abc();
        });

        //Cart first step buttons
        $('.back-to-shopping-button.button').on('click', function () {
            $('.close-cartModal').trigger('click');
            $('.close-reviewModal').trigger('click');
        });
        $('.proceed-to-purchase-button.button').on('click', function () {
            $('.close-cartModal').trigger('click');
            $('a[href$="#reviewModal"]').trigger('click');
        });

        //Cart second step buttons
        $('.back-to-cart-button.button').on('click', function () {
            $('a[href$="#cartModal"]').trigger('click');
            $('.close-reviewModal').trigger('click');
        });
        /*$('.purchase-button.button').on('click', function() {
         $('.close-reviewModal').trigger('click');
         swal({
         title: 'thanks for your purchase',
         showConfirmButton : false,
         showCancelButton: true
         });
         });*/
        $('#use-for-shipping').change(function () {
            console.log(this.checked);
            $('#billing-panel input').each(function (el) {
                $('#shipping-panel input[name="' + this.name + '"]').val(this.value);
            });
        });

        //Stripe payment details
        var amount = function () {
            return _.sum(_.map(JSON.parse(localStorage.storedCart), function (el) {
                        return el.price * el.quantity;
                    })) * 100;
        }
        var description = function () {
            return _.map(JSON.parse(localStorage.storedCart), function (el) {
                return el.quantity + "x" + el.sku;
            }).join(', ');
        }

        var handler = StripeCheckout.configure({
            key: 'pk_live_dAOjsAoS0ZBEI3iKVJ9u1LyI',
            image: '/rideau-data/stripe/stripe-logo.png',
            locale: 'auto',
            token: function (token) {
                //Get the data that the user wrote in the form
                var billing = {},
                        shipping = {};

                _.each($('#billing-panel input'), function (el) {
                    billing[el.name] = el.value;
                });
                _.each($('#shipping-panel input'), function (el) {
                    shipping[el.name] = el.value;
                });
                var customerData = {billing: billing, shipping: shipping};

                $('.close-reviewModal').trigger('click');
                swal({
                    title: 'processing payment<br/> please wait',
                    showConfirmButton: false,
                    showCancelButton: false
                });

                console.log(customerData);

                //You can access the token ID with `token.id`.
                //Get the token ID to your server-side code for use.
                $.post("/stripe", {
                    stripeToken: token.id,
                    amount: amount(),
                    description: description(),
                    storedCart: JSON.parse(localStorage.storedCart),
                    customerData: customerData
                }, function (data) {
                    swal({
                        title: 'card accepted<br/>thanks for your purchase',
                        showConfirmButton: false,
                        showCancelButton: true
                    });
                }).fail(function () {
                    swal({
                        title: 'card declined<br/>please try again',
                        showConfirmButton: false,
                        showCancelButton: true
                    });
                });
            }
        });

        function checkFields() {
            var inputs = $.find('.input_cart');
            var resp = true;
            inputs.forEach(function (input) {
                var $input = $(input);
                if ($input.val().length < 4) {
                    if ($input.parent().find('.input_cart_alert').length == 0) {
                        $input.parent().append('<span class="input_cart_alert" style="color: red; margin: 0px; padding: 0px;">This field is requiered</span>');
                    }
                    resp = false;
                }
            });
            return resp;
        }

        document.getElementById('stripe-pay-button').addEventListener('click', function (e) {
            //Open Checkout with further options:
            if (checkFields()) {
                handler.open({
                    name: 'RIDEAU',
                    description: description(),
                    amount: amount() //Conversion to cents
                });
            }
            e.preventDefault();
        });

        //Close Checkout on page navigation:
        window.addEventListener('popstate', function () {
            handler.close();
        });


    });

    $(document).mousemove(function (e) {
        var height;

        if (document.body) {
            height = (document.body.clientHeight);
        } else {
            height = (window.innerHeight);
        }

        /* console.log(e.pageY - $(window).scrollTop()); */
        if ((e.pageY - $(window).scrollTop()) < 150 /*|| (e.pageY - $(window).scrollTop()) > (height - 60)*/) { //The bottom limit is commented, uncomment to enable that functionality
            $('header').removeClass("hidden");
            $('#r-top-logo').addClass("hidden");
            //$('footer').removeClass("hidden"); //No longer used, footer is always visible
        } else {
            $('header').addClass("hidden");
            $('#r-top-logo').removeClass("hidden");
            //$('footer').addClass("hidden"); //No longer used, footer is always visible
        }
    });
</script>