<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
		<link rel="stylesheet" href="/plugins/thumbnail-scroller-2.0.3/thumbnail-scroller-2.0.3.css">
		<link rel="stylesheet" type="text/css" href="/plugins/slick/slick.css">
		<link rel="stylesheet" type="text/css" href="/plugins/slick/slick-theme.css">
	</head>
	
	<body id="collections">
		<% include _header.ejs %>
		
		<div class="photo-data rideau-fades">
			<div class="stage-description">
				<div class="row">
					<h5>look <span class="look-number">1</span></h5>
				</div>
				<div class="row">
					<p>art director <span class="look-span">dylan granger</span></p>
					<p>styling <span class="look-span">sean aikens</span></p>
					<p>photographer <span class="look-span">hannah sider</span></p>
					<p>model <span class="look-span">danieloh</span></p>
					<p>model <span class="look-span">adesuwa aigh ewi</span></p>
				</div>
				<div class="row">
					<br/>
					<p>40.744544 - 73.993255</p>
				</div>
			</div>
		</div>
		
		<div id="photo-selector" class="rideau-fades">
			<div id="my-thumbs-list" class="mThumbnailScroller" data-mts-axis="y" data-mts-type="hover-precise">
				<div class="two-stories">
					<% Object.keys(data.thumbnail).forEach(function(key) { %>
						<div class="single-story" data-bg-image="<%- data.thumbnail[key] %>" look-id="<%- key %>"></div>
					<% }); %>
				</div>
			</div>
		</div>
			
		<section class="rideau">
			<div class="row">
				<div class="small-12 medium-10 large-10 small-centered medium-centered large-centered columns">
					<div class="variable slider">
						<% Object.keys(data.hd).forEach(function(key) { %>
							<div look-id="<%= key %>">
								<img src="<%- data.hd[key] %>" class="zoomable-image intense-disabled closed" data-image="<%- data.hd[key] %>" />
							</div>
						<% }); %>
					</div>
				</div>
			</div>
		</section>
		
		<% include _footer.ejs %>
		<script src="/plugins/thumbnail-scroller-2.0.3/thumbnail-scroller-2.0.3.js"></script>
		<script src="/plugins/slick/slick.js" type="text/javascript" charset="utf-8"></script>
		
		<script>
			$(function() {
				console.log("load");
				
				//Load images on the photo-selector
				var stories = $('.two-stories').children();
				stories.each(function() {
					var imgPath = $(this).attr('data-bg-image');
					console.log($(this).attr('data-bg-image'));
					$(this).css('background-image', 'url(' + imgPath + ')');
				});
				
				//Function to adjust the view on mobiles
				$(window).bind('resize', function(e) {
					window.resizeEvt;
					
					$(window).resize(function() {
						thumbnailFixes();
					});
				});
				
				function thumbnailFixes() {
					var newHeight = window.innerHeight - 250;
					$('#my-thumbs-list').height(newHeight); //Right thumbnail scroller fix
					$('#photo-selector').css("top", (window.innerHeight - newHeight) / 2 + "px"); //Center the thumbnail menu
				}
				
				$('.single-story').click(function() {
					$(".variable").slick('slickGoTo', $(this).attr('look-id') - 1);
				});
				
				$(".variable").slick({
					dots: false,
					centerMode: true,
					infinite: true,
					arrows: false,
					focusOnSelect: true,
					variableWidth: true,
					afterChange: function(el, slide) {
						console.log("test");
					}
				}).on('afterChange', function(el, number) {
					$('.look-number').html(number.currentSlide + 1);
					$(".variable .slick-slide img").addClass('intense-disabled'); //Disable zoom on all slider images
					$(".variable .slick-slide.slick-active img").removeClass('intense-disabled'); //Disable zoom on all slider images
				});
				
				
				$('.rideau-fades').each(function() {
					$(this).delay(5000).fadeOut('slow');
				});
				
				$(document).mousemove(function(e) {
					if (document.body) {
						var width = (document.body.clientWidth);
					} else {
						var width = (window.innerWidth);
					}
					
					var div = document.getElementById("my-thumbs-list");
					var rect = div.getBoundingClientRect();
					
					if (((e.pageX - $(window).width()) + 200) < 0) {
						$('#photo-selector').fadeOut();
					} else {
						$('#photo-selector').fadeIn();
					}
					if ((((e.pageY - $(window).height()) + 400) < 0) || (e.pageX > 400)) {
						$('.photo-data').fadeOut();
					} else {
						$('.photo-data').fadeIn();
					}
					
				});
				
				//Disable intense zoom when draging
				var isDragging = false;
				$("img.zoomable-image").mousedown(function() {
					console.log("mousedown");
					isDragging = false;
				}).mousemove(function() {
					isDragging = true;
					console.log("dragging");
				}).mouseup(function() {
					var wasDragging = isDragging;
					isDragging = false;
					if (wasDragging) {
						console.log("wasDragging");
						$(".variable .slick-slide img").addClass('intense-disabled'); //Disable zoom on all slider images
						
					}
				});
				
				thumbnailFixes();
			});
		</script>
		
		<!-- Footer scripts -->
		<% include _scripts.ejs %>
	</body>
</html>
