<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
		<link rel="stylesheet" href="/plugins/thumbnail-scroller-2.0.3/thumbnail-scroller-2.0.3.css">
		<link rel="stylesheet" type="text/css" href="/plugins/slick/slick.css">
		<link rel="stylesheet" type="text/css" href="/plugins/slick/slick-theme.css">
	</head>
	
	<body id="collections">
		<% include _header.ejs %>
		
		<div class="photo-data rideau-fades">
			<% Object.keys(data).forEach(function(key) { %>
				<div class="stage-description rideau-floating" style="display: none;">
					<div class="row">
						<h5>look <%- data[key].number %></span></h5>
					</div>
					<div class="row">
						<% Object.keys(data[key].stage_data).forEach(function(stage_key) { %>
							<p><%- stage_key.replace("_", " ") %> <span class="look-span"><%- data[key].stage_data[stage_key] %></span></p>
						<% }); %>
					</div>
					<div class="row">
						<br/>
						<p>40.744544 - 73.993255</p>
					</div>
				</div>
			<% }); %>
		</div>
		
		<div id="photo-selector" class="rideau-fades">
			<div id="my-thumbs-list" class="mThumbnailScroller" data-mts-axis="y" data-mts-type="hover-precise">
				<div class="two-stories">
					<% Object.keys(data).forEach(function(key) { %>
						<div class="single-story" data-bg-image="<%- data[key].thumbnail %>" look-id="<%- data[key].number %>"></div>
					<% }); %>
				</div>
			</div>
		</div>
			
		<section class="rideau">
			<div class="row">
				<div class="small-12 medium-10 large-10 small-centered medium-centered large-centered columns">
					<div class="variable slider">
						<% Object.keys(data).forEach(function(key) { %>
							<div look-id="<%= data[key].number %>">
								<img src="<%- data[key]["hd-70"] %>" class="zoomable-image intense-disabled closed" data-image="<%- data[key]["hd-70"] %>" />
							</div>
						<% }); %>
					</div>
				</div>
			</div>
			<div class="hide-for-large-up">
				<% Object.keys(data).forEach(function(key) { %>
					<div class="stage-description rideau-fixed text-center" style="display: none;">
						<div class="row">
							<h5>look <%- data[key].number %></span></h5>
						</div>
						<div class="row">
							<% Object.keys(data[key].stage_data).forEach(function(stage_key) { %>
								<div class="small-12 medium-4 columns">
									<p><%- stage_key.replace("_", " ") %> <span class="look-span"><%- data[key].stage_data[stage_key] %></span></p>
								</div>
							<% }); %>
						</div>
						<div class="row">
							<br/>
							<p>40.744544 - 73.993255</p>
						</div>
					</div>
				<% }); %>
			</div>
		</section>
		
		<% include _footer.ejs %>
		<script src="/plugins/thumbnail-scroller-2.0.3/thumbnail-scroller-2.0.3.js"></script>
		<script src="/plugins/slick/slick.js" type="text/javascript" charset="utf-8"></script>
		
		<script>
			$(function() {
				var stageDescription = $('.stage-description'),
					currentSlideNumber;
				
				//Load images on the photo-selector
				var stories = $('.two-stories').children();
				stories.each(function() {
					var imgPath = $(this).attr('data-bg-image');
					//console.log($(this).attr('data-bg-image'));
					$(this).css('background-image', 'url(' + imgPath + ')');
				});
				
				//Function to adjust the view on mobiles
				$(window).bind('resize', function(e) {
					window.resizeEvt;
					
					$(window).resize(function() {
						thumbnailFixes();
					});
				});
				
				//Convert these two functions into one
				function temporalStageShow(number) {
					var stageFx = stageDescription.filter('.rideau-fixed').eq(number),
						stageFl = stageDescription.filter('.rideau-floating').eq(number);
					
					if ((!stageFx.is(':visible')) && (!stageFl.is(':visible'))) {
						setTimeout(function(){
							temporalStageHide(number);
						}, 3000);
					}
					
					stageFx.fadeIn(250);
					stageFl.fadeIn(250);
				}
				//Convert these two functions into one
				function temporalStageHide(number) {
					$($(stageDescription.filter('.rideau-fixed')[number])).fadeOut(250);
					$($(stageDescription.filter('.rideau-floating')[number])).fadeOut(250);
				}

				function thumbnailFixes() {
					var newHeight = window.innerHeight - 250;

					$('#my-thumbs-list').height(newHeight); //Right thumbnail scroller fix
					$('#photo-selector').css("top", (window.innerHeight - newHeight) / 2 + "px"); //Center the thumbnail menu
				}
				
				$('.single-story').click(function() {
					$(".variable").slick('slickGoTo', $(this).attr('look-id') - 1);
				});
				
				$(".variable").slick({
					dots: false,
					centerMode: true,
					infinite: true,
					arrows: false,
					focusOnSelect: true,
					variableWidth: true
				}).on('beforeChange', function(el, number) {
					$(stageDescription).fadeOut(250);
				}).on('afterChange', function(el, number) {
					//$('.look-number').html(number.currentSlide + 1);
					currentSlideNumber = number.currentSlide;
					//console.log(currentSlideNumber);
					temporalStageShow(currentSlideNumber);

					$(".variable .slick-slide img").addClass('intense-disabled'); //Disable zoom on all slider images
					$(".variable .slick-slide.slick-active img").removeClass('intense-disabled'); //Disable zoom on all slider images
				});
				
				//$(stageDescription.filter('.rideau-floating')[0]).fadeIn(0);
				//$(stageDescription.filter('.rideau-fixed')[0]).fadeIn(0);
				
				temporalStageShow(0);
				
				/*$('.rideau-fades').each(function() {
					$(this).delay(5000).fadeOut('slow');
				});*/
				
				$(document).mousemove(function(e) {
					if (document.body) {
						var width = (document.body.clientWidth);
					} else {
						var width = (window.innerWidth);
					}
					
					var div = document.getElementById("my-thumbs-list");
					var rect = div.getBoundingClientRect();
					
					if (((e.pageX - $(window).width()) + 200) < 0) {
						$('#photo-selector').fadeOut(250);
					} else {
						$('#photo-selector').fadeIn(250);
					}
					if ((((e.pageY - $(window).height()) + 400) < 0) || (e.pageX > 400)) {
						//$('.photo-data').fadeOut(); //Old way of hiding photo-data
						//$($('.photo-data .stage-description').filter('.rideau-floating')[currentSlideNumber]).fadeOut(); //Don't hide data
					} else {
						//$('.photo-data').fadeIn(); //Old way of showing photo-data
						//$($('.photo-data .stage-description').filter('.rideau-floating')[currentSlideNumber]).fadeIn();
						temporalStageShow(currentSlideNumber);
					}
					
				});
				
				//Disable intense zoom when draging
				var isDragging = false;
				$("img.zoomable-image").mousedown(function() {
					isDragging = false;
				}).mousemove(function() {
					isDragging = true;
				}).mouseup(function() {
					var wasDragging = isDragging;
					isDragging = false;

					if (wasDragging) {
						$(".variable .slick-slide img").addClass('intense-disabled'); //Disable zoom on all slider images
					}
				});
				
				thumbnailFixes();
			});
		</script>
		
		<!-- Footer scripts -->
		<% include _scripts.ejs %>
	</body>
</html>
