<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
<head>
    <% include _head.ejs %>
</head>

<body id="detail">
<% include _header.ejs %>

<div class="row">
    <div class="large-6 medium-6 small-12 large-centered columns">
        <div class="gender_containers">
            <div class="male_container">
                <div class="show-for-medium-up">
                    <% Object.keys(data.images.male).forEach(function(key) { %>
                    <img src="<%- data.images.male[key] %>" class="imgdetail zoomable-image closed"/>
                    <% }); %>
                </div>
                <div class="show-for-small-only">
                    <div class="pagespan sly-container-v2">
                        <div class="wrap">
                            <div class="frame oneperframe" id="oneperframe">
                                <ul class="clearfix">
                                    <% Object.keys(data.images.male).forEach(function(key) { %>
                                    <li style='background-image: url("<%- data.images.male[key] %>")' look-id="0"></li>
                                    <% }); %>
                                </ul>
                            </div>
                            <div class="scrollbar">
                                <div class="handle">
                                    <div class="mousearea"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="female_container hidden">
                <!-- TODO: Implement the female_container and allow it to use Sly, because right now it is not supported and one Sly can't have both container -->
            </div>
        </div>
    </div>

    <div class="product-showcase">
        <p class="item-key" style="display: none;"><%- data.key %></p>
        <h5 class="item-name"><%- data.name.toLowerCase() %></h5>
        <p class="item-category" style="display: none;"><%- data.category %></p>
        <p class="item-sku"><%- data.sku %></p>
        <br/>
        <p class="sackers"><span class="item-price"><%- data.price.normal %></span> usd</p>

        <div class="box-container">
            <a class="curtain"><p class="title"><strong>information <span class="tab-plus-minus">-</span></strong></p>
            </a>
            <div class="box">
                <p><%- data.information %></p>
            </div>
        </div>
        <div class="box-container">
            <a class="curtain"><p class="title"><strong>fit <span class="tab-plus-minus">+</span></strong></p></a>
            <div class="box" style="display: none;">
                <p><%- data.fit %></p>
            </div>
        </div>
        <div class="box-container">
            <a class="curtain"><p class="title"><strong>colors <span class="tab-plus-minus">+</span></strong></p></a>
            <div class="box" style="display: none;">
                <% Object.keys(data.colors).forEach(function(key) { %>
                <a href="/eboutique/<%- key %>">
                    <img src="<%- data.colors[key] %>" style="height: 120px;"/>
                </a>
                <% }); %>
            </div>
        </div>
        <div class="box-container">
            <a class="curtain"><p class="title"><strong>look <span class="tab-plus-minus">+</span></strong></p></a>
            <div class="box" style="display: none;">
                <p>
                    <% data.look.forEach(function (look) {
                        var a = look.split("–");
                    %>
                    <a href="<%- a.length > 1 ? a[0] : '#' %>"><%- a.length > 1 ? a[1] : a[0] %></a><br>
                    <%
                    }); %>
                </p>
            </div>
        </div>

        <div class="box-container">
            <p class="title"><strong>size</strong></p>
            <div class="text-center">
						<span class="size-chooser">
                            <% for(var i = 0; i <= 6; i++) { %>
                            <p class="text-center size-<%= i %>"><%= i %></p>
                            <% } %>
                        </span>
                <br/>
                <a class="cart-button tiny button disabled">
                    <p><strong>add to cart</strong></p>
                    <!-- Cart icon disabled, uncomment to enable -->
                    <!-- <img class="cart-icon" src="/rideau-data/shopping/shop-white.png" /> -->
                </a>
            </div>
        </div>

        <p class="title"><a class="male_button">xy</a> | <a class="disabled female_button">xx</a></p>

        <p id="back-button"><a href="/eboutique">back</a></p>
    </div>
</div>

<div id="addedtocart-modal" class="reveal-modal rideau-modal small" data-reveal aria-hidden="true" role="3ialog">
    <div class="row">
        <div class="large-12 columns">
            <h2>thank you!</h2>
            <br/>
            <p>item successfully added to your cart</p>
            <br/>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns text-center">
            <a class="close-reveal-modal"><span class="close thick"></span></a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var $oneperframe = $('#oneperframe');

        //The one per frame image Sly slider
        (function () {
            var $wrap = $oneperframe.parent();

            //Call Sly on frame
            $oneperframe.sly({
                horizontal: 1,
                itemNav: 'forceCentered',
                smart: 1,
                activateMiddle: 1,
                mouseDragging: 1,
                touchDragging: 1,
                releaseSwing: 0,
                startAt: 0,
                scrollBar: $wrap.find('.scrollbar'),
                scrollBy: 0,
                speed: 300,
                elasticBounds: 1,
                easing: 'easeOutExpo',
                dragHandle: 1,
                dynamicHandle: 1,
                clickBar: 0,

                //Buttons
                prev: $wrap.find('.prev'),
                next: $wrap.find('.next')
            });

            $oneperframe.sly('on', 'active', function (a, b) {
                $('.look-number').html(b + 1); //Update look number
            });

        }());

        $('.curtain').each(function () {
            $(this).show(0).on('click', function (e) {
                //This is only needed if your using an anchor to target the "box" elements
                e.preventDefault();

                $('.box').slideUp(); //Close all others
                $('.tab-plus-minus').html("-"); //Make all + go -
                $(this).next('.box').slideToggle('fast'); //Find the next "box" element in the DOM and open it

                var tabItem = $(this).find('.tab-plus-minus');

                if (tabItem.html() === '-') {
                    tabItem.html('+');
                } else {
                    tabItem.html('-');
                }

            });
        });

        //Function to adjust the view on mobiles
        $(window).bind('resize', function (e) {
            window.resizeEvt;

            $(window).resize(function () {
                clearTimeout(window.resizeEvt);
                window.resizeEvt = setTimeout(function () {
                    fixImageSize();
                }, 150);
            });
        });

        /* Size chooser buttons */
        var sizeChooser = $('.size-chooser p');
        sizeChooser.on('click', function (el) {
            sizeChooser.removeClass('selected'); //Remove all selected classes
            $(el.target).addClass('selected');
            $('.cart-button.button').removeClass('disabled');
        });

        /* Add to cart button */
        $('.cart-button.button').on('click', function () {
            if (!sizeChooser.hasClass('selected')) {
                $('.size-chooser').fadeOut(100).fadeIn(100).fadeOut(100).fadeIn(100); //Flash the size selector
                return;
            }

            var sku = $('.product-showcase .item-sku').html(),
                    size = $('.size-chooser').find(".selected").html(),
                    color = "R";

            var storedCart = JSON.parse(localStorage.getItem("storedCart"));
            if (_.isEmpty(storedCart)) storedCart = {};
            var item = {
                sku: sku,
                size: size,
                color: color,
                name: $('.product-showcase .item-name').html(),
                image: "/rideau-data/eboutique/" + $('.product-showcase .item-key').html() + "/images/male/featured.jpg",
                category: $('.product-showcase .item-category').html(),
                price: $('.product-showcase .item-price').html(),
                quantity: 1,
                date: new Date()
            };
            storedCart[[sku, size, color].join('-')] = item;
            localStorage.setItem("storedCart", JSON.stringify(storedCart));

            $('.cart-button .cart-count').html(storedCart.length);

            //Show add to cart confirmation
            swal({
                title: 'thank you',
                width: 600,
                padding: 80,
                confirmButtonText: 'view cart',
                showCancelButton: true,
                html: "<p>item has been added to your cart</p>"
            }).then(function () {
                var user = $('.wholesaler-access.user').val(),
                        pass = $('.wholesaler-access.pass').val();

                $('a[href="#cartModal"]').click();
            });

            //Currently disabled...
            /*$('header .cart-icon').fadeOut(250, function() {
             $('header .cart-count').fadeIn(250, function() {
             $('header .cart-count').fadeOut(250, function() {
             $('header .cart-icon').fadeIn(250, function() {
             //alert('done');
             console.log("a done");
             });
             });
             });
             });*/

        });

        function fixImageSize() {
            $('#oneperframe li').css('width', $('#oneperframe').width());
            var frm = $('#oneperframe');
            frm.sly('reload');
        }

        fixImageSize();
    });
</script>

<% include _footer.ejs %>
<% include _scripts.ejs %>
</body>
</html>