<!DOCTYPE html>
<html class="no-js rideau" lang="en" dir="ltr">
	<head>
		<% include _head.ejs %>
	</head>
	
	<body id="eboutique">
		<% include _header.ejs %>

		<!-- Debug modal disabled -->
		<!-- <div id="debug-panel">
			<p style="color: gray;">DEBUG CONTROLS:</p>
			<p><a href="#" data-reveal-id="db-modal">Get DB status</a></p>
			<p><a href="/blog">Show blog template proposal</a></p>
			<p><a href="/loading">Show loading debug</a></p>
			<p><a href="#" data-reveal-id="test-stripe">Test Stripe</a></p>
		</div> -->

		<div id="sandbox" class="sandbox config-open">
			<div id="Container" class="akzidenz">
				<% Object.keys(data).forEach(function(key) { %>
					<a class="outer" href="eboutique/<%- key.toUpperCase() %>">
						<div class="mix category-<%- data[key].category %>" data-myorder="4">
							<div class="gender_containers">
								<img class="male_container" src="<%- data[key].images.male.featured %>" style="width: 250px;" />
								<img class="female_container hidden" src="<%- data[key].images.female.featured %>" style="width:250px;" />
							</div>
							<div class="inner item-data">
								<p class="item-name" align="center"><%- data[key].name.toLowerCase() %></p>
								<p class="item-price" align="center"><%- data[key].price.normal %> usd</p>
							</div>
						</div>
					</a>
				<% }); %>
			</div>
		</div>
		
		<div id="menui" class="sackers">
			<div class="sackers" id="menui">
				<div class="row">
					<p><a data-filter=".category-JACKET" class="filter">jacket</a></p>
				</div>
				<div class="row">
					<p><a data-filter=".category-TOP" class="filter">top</a></p>
				</div>
				<div class="row">
					<p><a data-filter=".category-SWEATSHIRT" class="filter">sweatshirt</a></p>
				</div>
				<div class="row">
					<p><a data-filter=".category-SHIRT" class="filter">shirt</a></p>
				</div>
				<div class="row">
					<p><a data-filter=".category-T-SHIRT" class="filter">t-shirt</a></p>
				</div>
				<div class="row">
					<p><a data-filter=".category-PANT" class="filter">pant</a></p>
				</div>
				<div class="row">
					<p><a data-filter=".category-SHORT" class="filter">short</a></p>
				</div>
				<!-- Disabled by Rideau's request -->
				<!-- <div class="row">
					<p><a data-filter=".category-HAT" class="filter">HAT</a></p>
				</div> -->
				<div class="row">
					<p><a class="filter" data-filter="all">all</a></p>
				</div>
				<br/>
				<div class="row">
					<p><a><span class="male_button">xy</span></a> | <a class="disabled"><span class="female_button">xx</span></a></p>
				</div>
			</div>
		</div>

		<% include _footer.ejs %>

		<!-- Debug modals -->
		<div id="db-modal" class="reveal-modal rideau-modal" data-reveal aria-hidden="true" role="dialog">
			<section id="headerpanel">
				<div class="row valign-middle">
					<div class="small-6 small-centered columns">
						<div class="spanMiddle">
							<h2>DB status</h2>
							<p>mySQL DB status is [running]</p>
							<h2>Object 0 structure:</h2>
						</div>
					</div>
				</div>
			</section>
			<a class="close-reveal-modal"><span class="close thick"></span></a>
		</div>
		
		<!-- Footer scripts -->
		<% include _scripts.ejs %>
	</body>
</html>